In [19]:
import pandas as pd
import sqlite3

In [20]:
# create a Database connection
con=sqlite3.connect("inventory.db")

- `sqlite_master` - An internal SQLite system table that stores the schema of your database (info about all tables, views, indexes, triggers)
- **Vendor** : Supplier of goods/services	
- **Vendor Invoice** : A vendor invoice is a bill your company receives from the vendor for the items or services purchased
- **Purchases** : Refers to items or services your company has bought from vendors
- **Purchase Prices** : Cost per item paid to vendor

In [21]:
tables=pd.read_sql_query("select name from sqlite_master where type='table'",con)
tables

              name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

In [22]:
for table in tables["name"]:
    print("-"*60,f"{table}","-"*60)
    print("Count of records:",pd.read_sql(f"select count(*) as count from {table}",con)["count"].values[0])
    display(pd.read_sql(f"select * from {table} limit 5",con))

------------------------------------------------------------ begin_inventory ------------------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

------------------------------------------------------------ end_inventory ------------------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

------------------------------------------------------------ purchases ------------------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

------------------------------------------------------------ purchase_prices ------------------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

------------------------------------------------------------ sales ------------------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

------------------------------------------------------------ vendor_invoice ------------------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [23]:
purchases = pd.read_sql("select * from purchases where VendorNumber=7245",con)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5765,30,5765,Jose Cuervo Lime Margarita,1.75L,7245,PROXIMO SPIRITS INC.,8145,2023-12-22,2024-01-01,2024-01-08,2024-02-13,10.36,6,62.16,1
1,54_GUTHRAM_2952,54,2952,Old Bushmills,750mL,7245,PROXIMO SPIRITS INC.,8145,2023-12-22,2024-01-02,2024-01-08,2024-02-13,14.61,12,175.32,1
2,69_MOUNTMEND_3766,69,3766,Three Olives Grape Vodka,750mL,7245,PROXIMO SPIRITS INC.,8145,2023-12-22,2024-01-02,2024-01-08,2024-02-13,9.35,10,93.50,1
3,30_CULCHETH_8691,30,8691,Jose Cuervo Especial,750mL,7245,PROXIMO SPIRITS INC.,8145,2023-12-22,2024-01-01,2024-01-08,2024-02-13,11.90,12,142.80,1
4,38_GOULCREST_8323,38,8323,Jose Cuervo Gold w/Marg Mix,750mL,7245,PROXIMO SPIRITS INC.,8145,2023-12-22,2024-01-01,2024-01-08,2024-02-13,11.90,24,285.60,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53313,22_SHARNWICK_3802,22,3802,Three Olives Vodka,1.75L,7245,PROXIMO SPIRITS INC.,13617,2024-12-21,2024-12-27,2025-01-10,2025-02-10,13.43,6,80.58,1
53314,42_BLACK HOLLOW_77,42,77,Three Olives Espresso Vodka,750mL,7245,PROXIMO SPIRITS INC.,13617,2024-12-21,2024-12-27,2025-01-10,2025-02-10,10.39,12,124.68,1
53315,17_OLDHAM_3802,17,3802,Three Olives Vodka,1.75L,7245,PROXIMO SPIRITS INC.,13617,2024-12-21,2024-12-29,2025-01-10,2025-02-10,13.43,6,80.58,1
53316,15_WANBORNE_8469,15,8469,1800 Reposado Gold Tequila,750mL,7245,PROXIMO SPIRITS INC.,13617,2024-12-21,2024-12-29,2025-01-10,2025-02-10,16.29,11,179.19,1
53317,71_CLARCTON_8642,71,8642,Jose Cuervo RTD Pink Lemonad,1.75L,7245,PROXIMO SPIRITS INC.,13617,2024-12-21,2024-12-27,2025-01-10,2025-02-10,12.49,6,74.94,1

In [24]:
purchase_prices = pd.read_sql("select * from purchase_prices where VendorNumber=7245",con)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
1,77,Three Olives Espresso Vodka,12.99,750mL,750,1,10.39,7245,PROXIMO SPIRITS INC.
2,79,Three Olives Loopy Vodka,14.99,750mL,750,1,9.62,7245,PROXIMO SPIRITS INC.
3,168,Three Olives Strawberry,12.99,750mL,750,1,8.95,7245,PROXIMO SPIRITS INC.
4,175,1800 Anejo Tequila,36.99,750mL,750,1,26.80,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...,...
109,2174,Virginia Black Whiskey,34.99,750mL,750,1,27.34,7245,PROXIMO SPIRITS INC.
110,2845,Old Camp Spicy Pecan Peach W,19.99,750mL,750,1,14.59,7245,PROXIMO SPIRITS INC.
111,5132,Agavero Tequila Liqueur,25.99,750mL,750,1,19.99,7245,PROXIMO SPIRITS INC.
112,1070,Three Olives Vodka w3 50mls,12.99,750mL 3,750,1,9.62,7245,PROXIMO SPIRITS INC.
113,1082,Bushmills Blackbush VAP,26.99,750mL,750,1,20.45,7245,PROXIMO SPIRITS INC.

In [25]:
sales = pd.read_sql("select * from sales where VendorNo=7245",con)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1039,1,1039,Three Olives Vodka w/Flask,750mL,1,12.99,12.99,2024-01-18,750.0,1,0.79,7245,PROXIMO SPIRITS INC.
1,1_HARDERSFIELD_1039,1,1039,Three Olives Vodka w/Flask,750mL,1,12.99,12.99,2024-01-26,750.0,1,0.79,7245,PROXIMO SPIRITS INC.
2,1_HARDERSFIELD_1039,1,1039,Three Olives Vodka w/Flask,750mL,1,12.99,12.99,2024-01-30,750.0,1,0.79,7245,PROXIMO SPIRITS INC.
3,1_HARDERSFIELD_1464,1,1464,Tin Cup Whiskey,750mL,2,49.98,24.99,2024-01-09,750.0,1,1.57,7245,PROXIMO SPIRITS INC.
4,1_HARDERSFIELD_1464,1,1464,Tin Cup Whiskey,750mL,1,24.99,24.99,2024-01-12,750.0,1,0.79,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314707,9_BLACKPOOL_8961,9,8961,Jose Cuervo Especial,50mL,10,14.90,1.49,2024-12-27,50.0,1,0.52,7245,PROXIMO SPIRITS INC.
314708,9_BLACKPOOL_8961,9,8961,Jose Cuervo Especial,50mL,11,16.39,1.49,2024-12-28,50.0,1,0.58,7245,PROXIMO SPIRITS INC.
314709,9_BLACKPOOL_8961,9,8961,Jose Cuervo Especial,50mL,7,10.43,1.49,2024-12-29,50.0,1,0.37,7245,PROXIMO SPIRITS INC.
314710,9_BLACKPOOL_8961,9,8961,Jose Cuervo Especial,50mL,3,4.47,1.49,2024-12-30,50.0,1,0.16,7245,PROXIMO SPIRITS INC.
314711,9_BLACKPOOL_8961,9,8961,Jose Cuervo Especial,50mL,5,7.45,1.49,2024-12-31,50.0,1,0.26,7245,PROXIMO SPIRITS INC.

In [26]:
vendor_invoice = pd.read_sql("select * from vendor_invoice where VendorNumber=7245",con)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,7245,PROXIMO SPIRITS INC.,2024-01-08,8145,2023-12-22,2024-02-13,3123,34457.73,943.77,None
1,7245,PROXIMO SPIRITS INC.,2024-01-11,8228,2023-12-28,2024-02-12,19857,234455.46,1266.06,None
2,7245,PROXIMO SPIRITS INC.,2024-01-22,8396,2024-01-08,2024-03-04,8025,84022.10,420.11,None
3,7245,PROXIMO SPIRITS INC.,2024-01-28,8491,2024-01-15,2024-03-11,7786,84159.97,446.05,None
4,7245,PROXIMO SPIRITS INC.,2024-02-09,8595,2024-01-22,2024-03-13,10260,115110.50,587.06,None
5,7245,PROXIMO SPIRITS INC.,2024-02-14,8664,2024-01-27,2024-03-10,11438,110819.76,587.34,None
6,7245,PROXIMO SPIRITS INC.,2024-02-18,8714,2024-01-31,2024-03-19,9354,109631.51,537.19,None
7,7245,PROXIMO SPIRITS INC.,2024-02-28,8852,2024-02-09,2024-04-04,9214,104723.79,523.62,None
8,7245,PROXIMO SPIRITS INC.,2024-03-02,8956,2024-02-16,2024-04-03,16544,183412.54,917.06,None
9,7245,PROXIMO SPIRITS INC.,2024-03-13,9073,2024-02-24,2024-04-19,14656,178499.09,874.65,None
10,7245,PROXIMO SPIRITS INC.,2024-03-16,9173,2024-03-02,2024-04-18,9426,96735.15,503.02,None
11,7245,PROXIMO SPIRITS INC.,2024-03-21,9311,2024-03-11,2024-05-06,9257,90775.10,472.03,None
12,7245,PROXIMO SPIRITS INC.,2024-04-05,9327,2024-03-13,2024-05-02,11492,90258.08,478.37,None
13,7245,PROXIMO SPIRITS INC.,2024-04-04,9499,2024-03-24,2024-05-09,17059,239003.88,1147.22,None
14,7245,PROXIMO SPIRITS INC.,2024-04-14,9554,2024-03-29,2024-05-12,10696,131835.28,698.73,None
15,7245,PROXIMO SPIRITS INC.,2024-04-18,9635,2024-04-03,2024-05-29,11024,116687.40,548.43,None
16,7245,PROXIMO SPIRITS INC.,2024-04-26,9726,2024-04-10,2024-05-30,11584,123624.17,605.76,None
17,7245,PROXIMO SPIRITS INC.,2024-05-02,9881,2024-04-20,2024-06-09,23943,230103.86,1196.54,None
18,7245,PROXIMO SPIRITS INC.,2024-05-17,9977,2024-04-27,2024-06-23,17562,196965.48,965.13,None
19,7245,PROXIMO SPIRITS INC.,2024-05-24,10071,2024-05-04,2024-06-20,14246,160224.42,881.23,None
20,7245,PROXIMO SPIRITS INC.,2024-05-24,10213,2024-05-13,2024-07-06,11824,124533.05,660.03,None
21,7245,PROXIMO SPIRITS INC.,2024-06-02,10267,2024-05-17,2024-07-17,16451,191931.88,978.85,None
22,7245,PROXIMO SPIRITS INC.,2024-06-12,10389,2024-05-25,2024-07-24,17511,194205.33,1048.71,None
23,7245,PROXIMO SPIRITS INC.,2024-06-16,10525,2024-06-03,2024-07-15,15674,171894.69,790.72,None
24,7245,PROXIMO SPIRITS INC.,2024-06-24,10555,2024-06-06,2024-07-28,13350,141632.96,764.82,None
25,7245,PROXIMO SPIRITS INC.,2024-07-05,10637,2024-06-12,2024-08-09,14210,157665.90,709.50,None
26,7245,PROXIMO SPIRITS INC.,2024-07-04,10745,2024-06-19,2024-08-21,11991,132833.39,704.02,None
27,7245,PROXIMO SPIRITS INC.,2024-07-06,10890,2024-06-25,2024-08-07,3054,34357.85,178.66,None
28,7245,PROXIMO SPIRITS INC.,2024-07-12,11016,2024-07-01,2024-08-21,21696,258531.06,1318.51,Frank Delahunt
29,7245,PROXIMO SPIRITS INC.,2024-07-22,11088,2024-07-06,2024-08-27,14386,159552.53,717.99,None
30,7245,PROXIMO SPIRITS INC.,2024-08-02,11216,2024-07-15,2024-08-29,15751,182980.16,951.50,None
31,7245,PROXIMO SPIRITS INC.,2024-08-07,11291,2024-07-20,2024-09-08,15337,188391.57,904.28,None
32,7245,PROXIMO SPIRITS INC.,2024-08-09,11389,2024-07-27,2024-09-15,15481,180851.13,976.60,None
33,7245,PROXIMO SPIRITS INC.,2024-08-22,11514,2024-08-05,2024-09-21,12567,153198.11,811.95,None
34,7245,PROXIMO SPIRITS INC.,2024-08-26,11630,2024-08-12,2024-09-29,19416,219221.45,1008.42,None
35,7245,PROXIMO SPIRITS INC.,2024-08-30,11680,2024-08-16,2024-10-14,13323,155894.56,763.88,None
36,7245,PROXIMO SPIRITS INC.,2024-09-07,11826,2024-08-26,2024-10-08,13271,151869.54,804.91,None
37,7245,PROXIMO SPIRITS INC.,2024-09-18,11850,2024-08-29,2024-10-25,12435,150100.15,675.45,None
38,7245,PROXIMO SPIRITS INC.,2024-09-25,12006,2024-09-07,2024-11-01,8817,94013.60,423.06,None
39,7245,PROXIMO SPIRITS INC.,2024-09-29,12099,2024-09-14,2024-10-28,9359,102802.31,565.41,None
40,7245,PROXIMO SPIRITS INC.,2024-10-10,12159,2024-09-18,2024-11-11,9724,109937.02,604.65,None
41,7245,PROXIMO SPIRITS INC.,2024-10-08,12288,2024-09-23,2024-11-04,134,1902.95,9.90,None
42,7245,PROXIMO SPIRITS INC.,2024-10-11,12371,2024-09-28,2024-11-22,10828,103372.76,547.88,None
43,7245,PROXIMO SPIRITS INC.,2024-10-23,12498,2024-10-06,2024-12-04,11642,125869.47,667.11,None
44,7245,PROXIMO SPIRITS INC.,2024-10-30,12528,2024-10-09,2024-11-30,9578,113515.10,590.28,None
45,7245,PROXIMO SPIRITS INC.,2024-10-31,12679,2024-10-19,2024-12-11,10780,132632.16,663.16,None
46,7245,PROXIMO SPIRITS INC.,2024-11-08,12820,2024-10-28,2024-12-17,8900,101196.35,475.62,None
47,7245,PROXIMO SPIRITS INC.,2024-11-20,12894,2024-11-02,2024-12-31,10509,115319.46,553.53,None
48,7245,PROXIMO SPIRITS INC.,2024-11-27,12972,2024-11-08,2025-01-04,11317,126133.48,668.51,None
49,7245,PROXIMO SPIRITS INC.,2024-12-05,13066,2024-11-14,2025-01-05,8629,92957.38,501.97,None
50,7245,PROXIMO SPIRITS INC.,2024-12-10,13227,2024-11-25,2025-01-13,11279,126078.57,579.96,None
51,7245,PROXIMO SPIRITS INC.,2024-12-14,13328,2024-12-02,2025-01-21,10361,106584.08,522.26,None
52,7245,PROXIMO SPIRITS INC.,2024-12-25,13401,2024-12-07,2025-02-04,12797,129453.21,582.54,None
53,7245,PROXIMO SPIRITS INC.,2024-12-30,13458,2024-12-11,2025-02-01,13680,137799.41,633.88,None
54,7245,PROXIMO SPIRITS INC.,2025-01-07,13653,2024-12-23,2025-02-05,19434,203312.01,1036.89,None

In [27]:
purchases.groupby(["Brand","PurchasePrice"])[["Quantity","Dollars"]].sum()

                     Quantity    Dollars
Brand PurchasePrice
75    10.94                10     109.40
77    10.39             10932  113583.48
79    9.62               5779   55593.98
168   8.95               2929   26214.55
175   26.80               735   19698.00
...                       ...        ...
8642  12.49              3491   43602.59
8691  11.90             31495  374790.50
8712  15.74              1572   24743.28
8761  7.08              11566   81887.28
8961  1.12              87230   97697.60

[106 rows x 2 columns]

In [28]:
vendor_invoice["PONumber"].nunique()

55

In [29]:
vendor_invoice.shape[0]

55

In [30]:
sales.groupby("Brand")[["SalesQuantity","SalesDollars","SalesPrice"]].sum()

       SalesQuantity  SalesDollars  SalesPrice
Brand
75                21        314.79      134.91
77             10429     143416.71    85655.80
79              5686      78923.14    57811.51
168             2631      33554.69    23359.64
175              722      30316.78    24564.15
...              ...           ...         ...
8642            2951      40148.49    27282.95
8691           31383     494108.17   216863.36
8712            1343      22655.57    16820.06
8761           11627     125246.73    87696.74
8961           85075     126761.75    24398.75

[109 rows x 3 columns]

In [14]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [15]:
freight_summary=pd.read_sql_query("select VendorNumber,sum(Freight) as Freight_cost from vendor_invoice group by VendorNumber",con)

In [16]:
freight_summary

     VendorNumber  Freight_cost
0               2         27.08
1              54          0.48
2              60        367.52
3             105         62.39
4             200          6.19
..            ...           ...
121         98450        856.02
122         99166        130.09
123        172662        178.34
124        173357        202.50
125        201359          0.09

[126 rows x 2 columns]

In [31]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [32]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [33]:
pd.read_sql("""select
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.PurchasePrice,
            sum(p.Quantity) as TotalPurchaseQuantity,
            sum(p.Dollars) as TotalPurchaseDollars,
            pp.Volume,
            pp.Price as ActualPrice
            from purchases p
            join purchase_prices pp
            ON p.Brand=pp.Brand
            where p.PurchasePrice>0
            group by p.VendorNumber,p.VendorName,P.Brand
            order by TotalPurchaseDollars
            """,con)

,VendorNumber,VendorName,Brand,PurchasePrice,TotalPurchaseQuantity,TotalPurchaseDollars,Volume,ActualPrice
0,7245,PROXIMO SPIRITS INC.,3065,0.71,1,0.71,50,0.99
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,1,1.47,200,1.99
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,2,1.48,50,0.99
3,8004,SAZERAC CO INC,5683,0.39,6,2.34,50,0.49
4,9815,WINE GROUP INC,8527,1.32,2,2.64,750,4.99
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,138109,3023206.01,1750,29.99
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,201682,3261197.94,1750,22.99
10689,17035,PERNOD RICARD USA,8068,18.24,187407,3418303.68,1750,24.99
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,164038,3804041.22,1750,28.99
10691,1128,BROWN-FORMAN CORP,1233,26.27,145080,3811251.60,1750,36.99

In [35]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [36]:
pd.read_sql("""select
                VendorNo,
                Brand,
                sum(SalesDollars) as TotalSalesDollars,
                sum(SalesPrice) as TotalSalesPrice,
                sum(SalesQuantity) as TotalSalesQuantity,
                sum(ExciseTax) as TotalExciseTax
                from Sales 
                group by VendorNo,Brand
                order by TotalSalesDollars
                """,con)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,9206,2773,0.99,0.99,1,0.05
2,3252,3933,1.98,0.99,2,0.10
3,3924,9123,1.98,0.99,2,0.10
4,10050,3623,1.98,1.98,2,0.10
...,...,...,...,...,...,...
11267,3960,3545,4223107.62,545778.28,135838,249587.83
11268,3960,4261,4475972.88,420050.01,200412,368242.80
11269,17035,8068,4538120.60,461140.15,187140,343854.07
11270,4425,3405,4819073.49,561512.37,160247,294438.66
11271,1128,1233,5101919.51,672819.31,142049,260999.20

In [21]:
vendor_sales_summary=pd.read_sql("""with FreightSummary as(
select 
        VendorNumber,
        sum(Freight) as Freight_cost 
from vendor_invoice 
group by VendorNumber
),
PurchaseSummary as(
    select
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Volume,
            pp.Price as ActualPrice,
            sum(p.Quantity) as TotalPurchaseQuantity,
            sum(p.Dollars) as TotalPurchaseDollars
    from purchases p
    join purchase_prices pp
            ON p.Brand=pp.Brand
    where p.PurchasePrice>0
    group by p.VendorNumber,p.VendorName,p.Brand, p.Description, pp.Price, PP.Volume
),
SalesSummary as(
select
        VendorNo,
        Brand,
        sum(SalesDollars) as TotalSalesDollars,
        sum(SalesPrice) as TotalSalesPrice,
        sum(SalesQuantity) as TotalSalesQuantity,
        sum(ExciseTax) as TotalExciseTax
from Sales 
group by VendorNo,Brand
)
select
    ps.VendorNumber,
    ps.vendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.Volume,
    ps.ActualPrice,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalSalesQuantity,
    ss.TotalExciseTax,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    fs.Freight_cost
from PurchaseSummary ps
LEFT join SalesSummary ss
    on ps.VendorNumber=ss.VendorNo
    and ps.Brand=ss.Brand
Left join FreightSummary fs
    on ps.VendorNumber=fs.VendorNumber
order by ps.TotalPurchaseDollars DESC""",con)

In [22]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,Freight_cost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750,36.99,5101919.51,672819.31,142049.0,260999.20,145080,3811251.60,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750,28.99,4819073.49,561512.37,160247.0,294438.66,164038,3804041.22,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750,24.99,4538120.60,461140.15,187140.0,343854.07,187407,3418303.68,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750,22.99,4475972.88,420050.01,200412.0,368242.80,201682,3261197.94,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750,29.99,4223107.62,545778.28,135838.0,249587.83,138109,3023206.01,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750,4.99,15.95,10.96,5.0,0.55,2,2.64,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50,0.49,65.66,1.47,134.0,7.04,6,2.34,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50,0.99,1.98,0.99,2.0,0.10,2,1.48,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200,1.99,143.28,77.61,72.0,15.12,1,1.47,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50,0.99,85.14,33.66,86.0,4.46,1,0.71,38994.78

In [23]:
vendor_sales_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorNumber           10692 non-null  int64
 1   VendorName             10692 non-null  object
 2   Brand                  10692 non-null  int64
 3   Description            10692 non-null  object
 4   PurchasePrice          10692 non-null  float64
 5   Volume                 10692 non-null  object
 6   ActualPrice            10692 non-null  float64
 7   TotalSalesDollars      10514 non-null  float64
 8   TotalSalesPrice        10514 non-null  float64
 9   TotalSalesQuantity     10514 non-null  float64
 10  TotalExciseTax         10514 non-null  float64
 11  TotalPurchaseQuantity  10692 non-null  int64
 12  TotalPurchaseDollars   10692 non-null  float64
 13  Freight_cost           10692 non-null  float64
dtypes: float64(8), int64(3), object(3)
memory usage: 1.1+ MB

In [24]:
vendor_sales_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
Volume                     0
ActualPrice                0
TotalSalesDollars        178
TotalSalesPrice          178
TotalSalesQuantity       178
TotalExciseTax           178
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
Freight_cost               0
dtype: int64

In [25]:
vendor_sales_summary["VendorName"].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [26]:
vendor_sales_summary["Volume"]=vendor_sales_summary["Volume"].astype("float64")

In [27]:
vendor_sales_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorNumber           10692 non-null  int64
 1   VendorName             10692 non-null  object
 2   Brand                  10692 non-null  int64
 3   Description            10692 non-null  object
 4   PurchasePrice          10692 non-null  float64
 5   Volume                 10692 non-null  float64
 6   ActualPrice            10692 non-null  float64
 7   TotalSalesDollars      10514 non-null  float64
 8   TotalSalesPrice        10514 non-null  float64
 9   TotalSalesQuantity     10514 non-null  float64
 10  TotalExciseTax         10514 non-null  float64
 11  TotalPurchaseQuantity  10692 non-null  int64
 12  TotalPurchaseDollars   10692 non-null  float64
 13  Freight_cost           10692 non-null  float64
dtypes: float64(9), int64(3), object(2)
memory usage: 1.1+ MB

In [28]:
vendor_sales_summary.fillna(0,inplace=True)

In [29]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
Volume                   0
ActualPrice              0
TotalSalesDollars        0
TotalSalesPrice          0
TotalSalesQuantity       0
TotalExciseTax           0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
Freight_cost             0
dtype: int64

In [30]:
vendor_sales_summary["VendorName"]=vendor_sales_summary["VendorName"].str.strip()

In [31]:
vendor_sales_summary["VendorName"].unique()

array(['BROWN-FORMAN CORP', 'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA',
       'DIAGEO NORTH AMERICA INC', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'MAJESTIC FINE WINES',
       'ULTRA BEVERAGE COMPANY LLP', 'STOLI GROUP,(USA) LLC',
       'PROXIMO SPIRITS INC.', 'MOET HENNESSY USA INC', 'CAMPARI AMERICA',
       'SAZERAC CO INC', 'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'SAZERAC NORTH AMERICA INC.', 'PALM BAY INTERNATIONAL INC',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'E & J GALLO WINERY', 'WILLIAM GRANT & SONS INC',
       'HEAVEN HILL DISTILLERIES', 'DISARONNO INTERNATIONAL LLC',
       'EDRINGTON AMERICAS', 'CASTLE BRANDS CORP.',
       'SOUTHERN WINE & SPIRITS NE', 'STE MICHELLE WINE ESTATES',
       'TRINCHERO FAMILY ESTATES', 'MHW LTD', 'WINE GROUP INC',
       'PERFECTA WINES', 'LUXCO INC', 'TREASURY WINE ESTATES',
       'DIAGEO CHATEAU ESTATE WINES', 'SHAW ROSS INT L IMP LTD',
       'PINE STATE TRADING CO', 'PHILLIPS PRODUCTS CO.',
       'CALEDONIA SPIRITS INC', 'STATE WINE & SPIRITS',
       'KOBRAND CORPORATION', 'BANFI PRODUCTS CORP',
       'VINEYARD BRANDS INC', 'DELICATO VINEYARDS INC',
       'FABRIZIA SPIRITS LLC', 'DUGGANS DISTILLED PRODUCTS',
       'Serralles Usa LLC', 'SEA HAGG DISTILLERY LLC',
       'OLE SMOKY DISTILLERY LLC', 'VRANKEN AMERICA', 'KLIN SPIRITS LLC',
       'LAIRD & CO', 'ADAMBA IMPORTS INTL INC',
       'LATITUDE BEVERAGE COMPANY', 'FREDERICK WILDMAN & SONS',
       'MCCORMICK DISTILLING CO', 'CHARLES JACQUIN ET CIE INC',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY',
       'AMERICAN VINTAGE BEVERAGE', 'MANGO BOTTLING INC',
       'SWEET BABY VINEYARD', 'NICHE W & S', 'LABELLE VYDS AND WINERY',
       'FLAG HILL WINERY & VINEYARD', 'SMOKY QUARTZ DISTILLERY LLC',
       'PREMIUM PORT WINES, INC.', 'Russian Standard Vodka',
       'Dunn Wine Brokers', 'WEIN BAUER INC', 'BULLY BOY DISTILLERS',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'VINILANDIA USA', 'PARK STREET IMPORTS LLC', 'TAKARA SAKE USA INC',
       'SEA BREEZE CELLARS LLC', 'STARK BREWING COMPANY', 'TY KU LLC',
       'PSP WINES', 'TAMWORTH DISTILLING', 'ZORVINO VINEYARDS',
       'SOUTHERN GLAZERS W&S OF NE', 'HOOD RIVER DISTILLERS, Inc.',
       'CRUSH WINES', 'POVERTY LANE ORCHARDS', 'DJINN SPIRITS LLC',
       'MOONLIGHT MEADERY', 'TALL SHIP DISTILLERY LLC',
       'FORTUNE WINE BROKERS LLC', 'BLACK COVE BEVERAGES', 'VINEXTRA INC',
       'SURVILLE ENTERPRISES CORP', 'JEWELL TOWNE VINEYARDS',
       'SWEETWATER FARM', 'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'INCREDIBREW INC', 'ALISA CARR BEVERAGES',
       'STELLAR IMPORTING CO LLC', 'FULCHINO VINEYARD INC',
       'IRA GOLDMAN AND WILLIAMS, LLP', 'Circa Wines',
       'VINEDREA WINES LLC', 'BLACK PRINCE DISTILLERY INC',
       'VINEYARD BRANDS LLC', 'THE IMPORTED GRAPE LLC',
       'WALPOLE MTN VIEW WINERY', 'GILMANTON WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS', 'STAR INDUSTRIES INC.',
       'LOYAL DOG WINERY', 'R.P.IMPORTS INC', 'THE PIERPONT GROUP LLC',
       'APPOLO VINEYARDS LLC', 'BLACK ROCK SPIRITS LLC',
       'CENTEUR IMPORTS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE', 'UNCORKED', 'BRONCO WINE COMPANY',
       'MILTONS DISTRIBUTING CO', 'TRUETT HURST', 'LAUREATE IMPORTS CO',
       'FANTASY FINE WINES CORP', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS', 'CAPSTONE INTERNATIONAL',
       'FLAVOR ESSENCE INC'], dtype=object)

In [32]:
vendor_sales_summary["GrossProfit"]=vendor_sales_summary["TotalSalesDollars"]-vendor_sales_summary["TotalPurchaseDollars"]

In [33]:
vendor_sales_summary["ProfitMargin"]=(vendor_sales_summary["GrossProfit"]/vendor_sales_summary["TotalSalesDollars"])*100

In [34]:
vendor_sales_summary["StockTurnover"]=vendor_sales_summary["TotalSalesQuantity"]/vendor_sales_summary["TotalPurchaseQuantity"]

In [35]:
vendor_sales_summary["SalesPurchaseRatio"]=vendor_sales_summary["TotalSalesDollars"]/vendor_sales_summary["TotalPurchaseDollars"]

In [36]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,Freight_cost,GrossProfit,ProfitMargin,StockTurnover,SalesPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,36.99,5101919.51,672819.31,142049.0,260999.20,145080,3811251.60,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,28.99,4819073.49,561512.37,160247.0,294438.66,164038,3804041.22,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,24.99,4538120.60,461140.15,187140.0,343854.07,187407,3418303.68,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,22.99,4475972.88,420050.01,200412.0,368242.80,201682,3261197.94,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,29.99,4223107.62,545778.28,135838.0,249587.83,138109,3023206.01,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750.0,4.99,15.95,10.96,5.0,0.55,2,2.64,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50.0,0.49,65.66,1.47,134.0,7.04,6,2.34,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50.0,0.99,1.98,0.99,2.0,0.10,2,1.48,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200.0,1.99,143.28,77.61,72.0,15.12,1,1.47,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50.0,0.99,85.14,33.66,86.0,4.46,1,0.71,38994.78,84.43,99.166079,86.000000,119.915493

In [ ]:
vendor_sales_summary.to_xls("vendor_sales_summary.csv", index=False)